<mat-form-field>
    <mat-chip-list #chipList>
        <mat-chip
            *ngFor="let selectedOption of selectedOptions"
            [selectable]="true"
            [removable]="true"
            [class.new]="selectedOption.isNew"
            (removed)="remove(selectedOption)"
        >
            <span title="{{ selectedOption.name }}">{{ selectedOption.name }}</span>
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>

        <!-- <mat-chip [selectable]="false" [removable]="false">
            <span>+2</span>
        </mat-chip> -->

        <input
            #inputElement
            [formControl]="inputControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="selectOnBlur"
            (matChipInputTokenEnd)="add($event)"
        />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option.name }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
